.containers {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    border-radius: 5px;
    width: 50%;
}

.form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

input, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.site-name {
    text-align: center;
    margin-top: 3%;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container {
    margin-bottom: 10px;
}

input[type="Name"],
input[type="Surname"],
input[type="Secondname"],
input[type="login"],
input[type="password"]
input[type="surepassword"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.checkbox-container {
    margin-bottom: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 5px;
}

.login-button,
.back-button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.back-button {
    background-color: #ccc;
    margin-right: 10px;
}